html {
    font-family: sans-serif;
    background-color: #2c2c2c;
    color: #ccc;
}

.header {
    display: flex;
    border: 0px solid black;
}

h1 {
    font-weight: 800;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 3px -1px slategrey;
}

h2 {
    width: 33%;
    text-align: right;
    margin-top: 32px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2em;
}

.adj {
    border-bottom: 1px solid #2c2c2c;
    width: 100%;
    height: 48px;
}

.superscript {
    font-size: smaller;
    vertical-align: super;
    float:right;
    padding-right: 10px;
}

input {
    float: right;
    border: 0px solid black;
    text-align: right;
    font-size: 18px;
    background-color: #2c2c5c;
    color: #ccc;
    width: 65%;
    padding: 10px;
    box-sizing: border-box;
}

label {
    float: left;
    padding-top: 10px;
    font-size: 1em;
}

input[type=number] {
    width: 5em;
}

select {
    font-size: 1em;
    background: #2c2c5c;
    color: #ccc;
    padding: 5px;
    float: right;
}

.additional-notes {
    display: inline-block;
    width: 40%;
}

.notes {
    width: 100%;
    height: 140px;
    border: 4px double #efefef;
box-sizing: border-box;
padding:10px 20px;
    color: #ccc;
    background-color: #2c2c5c;
}

.notes:before {
    display: block;
    content: 'Notes:';
}

.front-settings,
.rear-settings {
    display: inline-block;
    vertical-align: top;
    padding: 20px 20px 20px 20px;
    box-shadow: slategray 5px 4px 12px;
    box-sizing: border-box;
    width: 49%;

}

.front-settings:hover,
.rear-settings:hover {
    box-shadow: black 2px -1px 10px;
}

.front-diagram {
    max-width: 300px;
    border: 0px solid red;

}

.section {
    display: block;
    width: 57%;
    padding: 20px 20px 20px 20px;
    box-shadow: slategray 5px 4px 12px;
    margin: 0 0 20px 0;
}

.section:hover {
    box-shadow: honeydew 5px 4px 12px;
}

.front-diagram img {
    width: 300px;
}