html {
    font-family: sans-serif;
}

.header {
    display: flex;
    border: 0px solid black;
}

h1 {
    font-weight: 800;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 3px -1px slategrey;
}

h2 {
    width: 33%;
    text-align: right;
    margin-top: 32px;
    text-transform: uppercase;
}

.adj {
    border-bottom: 1px solid #2c2c2c;
    width: 100%;
    height: 48px;
}

input {
    float: right;
    border: 0px solid black;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    width: 60%;
}

label {
    float: left;
    padding-top: 10px;
    width: 120px;
}

input[type=number] {
    width: 3em;
}

.additional-notes {
    display: inline-block;
    width: 40%;
}

.notes {
    width: 100%;
    bordeR:0px;
}
.notes:before {
    display: block;
    content: 'Notes:';
}

.front-settings,
.rear-settings {
    display: inline-block;
    vertical-align: top;
    padding: 20px 20px 20px 20px;
    box-shadow: slategray 5px 4px 12px;
    box-sizing: border-box;
    width: 48%;

}

.front-settings:hover,
.rear-settings:hover {
    box-shadow: black 2px -1px 10px;
}

.front-diagram {
    max-width: 300px;
    border: 0px solid red;

}

.engine,
.tires,
.vehicle-info,
.dampers {
    display: block;
    padding: 10px 0 50px 0;
    width: 35%
}

.tires {
    width: 100%;
}

.front-diagram img {
    width: 300px;
}