html,
body {
    margin: auto;
    padding: 0;
    width: 100%;
    background: white;
    color: black;
}

body {
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    /* background: #000;
    color: #999; */
    padding: 0 50px;
    font-family: sans-serif;
    width: min(1000px, calc(88% + 100px));
}

a,
a:visited {
    color: black;
    text-decoration: underline;
}

p {
    text-align: justify;
}

.ntb {
    max-width: 400px;
}

.ntb2 {
    max-width: 200px;
}

.bullet {
    max-width: 50px;
    float: left;
    padding-right: 15px;
}

section.go {
    margin-top: 20px;
}

ul.specs {
    font-size: 0.8em;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1em;
}

h2.italic {
    font-style: italic;
}

.hero {
    width: min(1000px, calc(88% + 100px));
    position: relative;
}

.hero:hover::after {
    opacity: 1;
    animation: fade2 1s ease;
    background: url(images/impreza-sti-wolf.jpeg);
    content: " 1";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.not-full {
    width: min(1000px, calc(88% + 100px));
}

figcaption {
    font-size: 0.6em;
}

.sti {
    color: #ff59ff;
    font-style: italic;
    font-family: cursive, serif;
}

.highlight {
    background: rosybrown;
}

.thumbnail {
    width: 120px;
    float: left;
    padding-right: 20px;
}

.subaru {
    font-size: 2em;
    font-style: italic;
    font-weight: 400;
    color: blue;
    display: inline;
}


caption {
    font-size: 2.8em;
}

.main {
    padding-top: 10px;
    width: 100%;
    /* opacity: 0.7; */
    overflow: hidden;
    transform: scale(1);
    max-height: 276px;
    /* transform: skew(8deg, 0deg); */
    background: #111;
}

.main video {
    max-width: 80%;
    filter: brightness(0.70);
    transform: rotate(-4.3deg);
    margin-left: 90px;
}

.layer2 {
    transform: skew(6deg, 0deg);
    position: relative;
    left: 12%;
}

.layer3 {
    /* transform: skew(6deg, 0deg); */
    position: relative;
    /* left: 12%; */
    overflow: hidden;
    transform: translate(-46px, -7px);
    /* border: 1px solid green; */
    /* width: 400px; */
}

.sized {
    max-width: 50%;
    margin-left: 10px;
}

img {
    width: 100%;
}

.toned {
    max-width: fit-content;
}

.quarter-spread {
    display: grid;
    background: lightskyblue;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
}

blockquote::before,
blockquote::after {
    content: '"';
}

blockquote,
aside {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

aside {
    margin: 30px 90px;
}

aside::first-letter {
    font-size: 2.3em;
    line-height: 1px;
    font-family: cursive;
    padding-right: 2px;
}

figure {
    margin: 0;
}

.size-by-side {
    display: flex;
    flex-direction: row;
}

figure.engine {
    position: relative;
    /* height: 750px; */
}

figure.inline img {
    position: relative;
    max-width: 25%
}

.letsbox {
    width: 450px;
    margin: auto auto;
    position: relative;
    display: inherit;
}

figure.engine:hover img {
    opacity: 0.2;
    animation: fade 1s ease;
    /* mix-blend-mode: exclusion; */
}

figure.engine:hover::before {
    opacity: 0.8;
    /* z-index: 2; */
    mix-blend-mode: exclusion;
}

figure.engine:hover::after {
    /* mix-blend-mode: exclusion; */
    transition-duration: 1s;
    opacity: 0.5;
    z-index: 1;
}

figure.engine img {
    position: relative;
    top: 75px;
    opacity: 1;
}

figure.engine::before {
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(images/imprezaDyno.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0;
    /* z-index: 2; */
    top: 0;
    /* transition-duration: 1000ms; */
    opacity: 0.8;
    filter: brightness(1.05);
}

figure.engine:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    /* background-image: url(images/first-log.jpg); */
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -12px;
    background-size: contain;
    top: 0;
    left: 0;
    opacity: 0.3;
    /* transition-duration: 1.2s; */
    transform: scaleY(0.95) scaleX(0.8);
}

.oem-cvt-cooler {
    max-width: 200px;
    float: right;
    margin: 10px;
}

figure.cvt,
figure.cvt-ratios {
    display: inline-block;
    position: relative;
    width: 100%;
    opacity: 0.91;
}

figure.engine img,
figure.dyno img,
figure.cvt img {}

figure.cvt-ratios table {
    /* border: 1px solid #ccc; */
    width: 100%;
    font-size: 2em;
}

.engine {
    position: relative;
    width: 100%;
}

img.hood {
    width: 100%;
}

img.hood.og {
    position: relative;
    top: 24px;
}

img.hood:hover {
    object-fit: cover;
}

img.sport-wheels {
    max-width: 150px;
}

.engine-wrapper {
    position: relative;
    width: 100%;
}

.em {
    position: absolute;
    font-size: 3em;
    color: rgb(148, 210, 140);
}

.e1 {
    left: 8%;
    top: 48%;
}

.e2 {
    left: 28%;
    top: 22%;
}

.e3 {
    left: 29%;
    top: 52%;
    position: absolute;
    /* border:  1px solid red; */
    width: 40%;
    height: 20px;
}

.e3 .first {
    left: 0;
    top: -18%;
    position: absolute;
}

.e3 .second {
    right: 0px;
    top: -14%;
    position: absolute;
}

.e4 {
    left: 81%;
    top: 67%;
}

.e5 {
    left: 63%;
    top: 18%;
}

.e6 {
    left: 51%;
    top: 8%;
}

.swaysab {
    position: relative;
}

.swaysab::after {
    content: '22mm';
    position: absolute;
    left: 20%;
    top: 49%;
    font-size: 24px;
}

.driveline {
    position: relative;
    width: 100%;
}

.driveline img {
    width: 100%;
    height: 100%;
}

.driveline-wrapper {
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.scaleWrap {
    text-align: center;
}

.zoom {
    max-width: 900px;
}

.dl-dot {
    position: absolute;
    font-size: 2em;
    opacity: .8;
}

.dl-0 {
    font-size: 2em;
    left: 92%;
    top: 46.5%;
}

.dl-1 {
    font-size: 2em;
    left: 85%;
    top: 44.5%;
}

.dl-1 .one {
    position: absolute;
    top: -50px;
}

.dl-1 .two {
    position: absolute;
    top: 80px;
}

.dl-2 {
    left: 77%;
    top: 47%;
}

.dl-2:before {
    content: ' ';
    background-image: url(images/pitchstop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height: 150px;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    border-bottom: 0;
    opacity: 1;
    left: -150px;
}

.dl-2:after {
    content: 'A polyurethane/billet pitch stop reduces engine bucking under acceleration';
    width: 330px;
    position: absolute;
    left: 0;
    top: 150px;
    padding-left: 10px;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    color: #555;
    font-size: 0.8em;
    left: -150px;
}

.dl-3 {
    left: 62%;
    top: 47%;
}

.dl-3:before {
    content: ' ';
    background-image: url(images/transmission-insert.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height: 300px;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    border-bottom: 0;
    opacity: 1;
}

.dl-3:after {
    content: 'A polyurethane transmission insert reduces oem bushing squishiness';
    width: 330px;
    position: absolute;
    left: 0;
    top: 300px;
    padding-left: 10px;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    color: #555;
    font-size: 0.8em;
}

.dl-dot:hover {
    opacity: 1;
}

.dl-4 {
    left: 45.5%;
    top: 47%;
}

.dl-5 {
    font-size: 1.5em;
    left: 14%;
    top: 48%;
}

.dl-5:before {
    content: ' ';
    background-image: url(images/differentiallockdown.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 325px;
    height: 290px;
    position: absolute;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    border-bottom: 0;
    opacity: 1;
}

.dl-5:after {
    content: 'Solid billet inserts (top) and polyurethane bushings (bottom) reduces differential movment under hard acceleration';
    width: 315px;
    position: absolute;
    left: 0;
    top: 290px;
    padding-left: 10px;
    visibility: hidden;
    background-color: white;
    border: 5px solid black;
    color: #555;
    font-size: 0.8em;
}

.dl-5 .one {
    position: absolute;
    top: -15px;
    left: 36px;
}

.dl-5 .two {
    position: absolute;
    top: 20px;
    left: 36px;
}

.dl-5 .three {
    position: absolute;
    top: -15px;
    left: -32px;
}

.dl-5 .four {
    position: absolute;
    top: 21px;
    left: -32px;
}

.dl-2:hover:before,
.dl-2:hover:after,
.dl-3:hover:before,
.dl-3:hover:after,
.dl-5:hover:before,
.dl-5:hover:after {
    visibility: visible;
    z-index: 1;
}

figure.project-excelsior {
    position: relative;
}

.project-excelsior .infobar {
    position: absolute;
    bottom: 2%;
    border-radius: 10px;
    /* border: 1px solid gold; */
    width: 100%;
    height: 4%;
    background: seagreen;
    padding: 5px 10px;
    opacity: 0.7;
    box-sizing: border-box;
    text-align: center;
}

.spot {
    /* border: 1px solid green; */
    position: absolute;
    cursor: pointer;
    opacity: 0.4;
}

.spot:hover {
    background: sandybrown;
    border-radius: 5px;
}

.spot.pe {
    top: 53%;
    left: 37%;
    width: 15%;
    height: 2%;
}

.spot.firestone {
    top: 37%;
    left: 18%;
    width: 17%;
    height: 4%;
}

.spot.enkei {
    top: 37%;
    left: 62%;
    width: 12%;
    height: 4%;
}

.spot.stoptech {
    top: 41%;
    left: 26%;
    width: 10%;
    height: 3%;
}

.spot.ckessp {
    top: 41%;
    left: 52%;
    width: 11%;
    height: 3%;
}

.spot.apexi {
    top: 43%;
    left: 18%;
    width: 7%;
    height: 5%;
}

.spot.derale {
    top: 49%;
    left: 18%;
    width: 9%;
    height: 4%;
}

.spot.perrin {
    top: 50%;
    left: 62%;
    width: 11%;
    height: 3%;
}

.spot.dba {
    top: 50%;
    left: 74%;
    width: 11%;
    height: 7%;
}

.spot.superpro {
    top: 65%;
    left: 7%;
    width: 13%;
    height: 4%;
}

.spot.megan {
    top: 60%;
    left: 8%;
    width: 11%;
    height: 4%;
}

.spot.hawk {
    top: 56%;
    left: 8%;
    width: 8%;
    height: 3%;
}

.spot.takeda {
    top: 44%;
    left: 64%;
    width: 8%;
    height: 3%;
}

.spot.torquesolution {
    top: 54%;
    left: 18%;
    width: 11%;
    height: 3%;
}

.spot.tbperformance {
    top: 57%;
    left: 35%;
    width: 17%;
    height: 3%;
}

.spot.whiteline {
    top: 59%;
    left: 71%;
    width: 13%;
    height: 11%;
}

.spot.nameless {
    top: 63%;
    left: 25%;
    width: 38%;
    height: 7%;
}

.spot.projectmu {
    top: 74%;
    left: 17%;
    width: 11%;
    height: 5%;
}

.spot.pentosin {
    top: 74%;
    left: 28%;
    width: 8%;
    height: 5%;
}

.spot.fortuneauto {
    top: 76%;
    left: 51%;
    width: 11%;
    height: 3%;
}

.spot.penzoil {
    top: 75%;
    left: 63%;
    width: 7%;
    height: 5%;
}

.spot.sti {
    top: 51%;
    left: 7%;
    width: 10%;
    height: 4%;
}

.spot.crawford {
    top: 55%;
    left: 62%;
    width: 9%;
    height: 3%;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.7;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}