    html {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        padding: 10px;
        margin: 0;
        text-size-adjust: 100%;
    }
    
    h3 {
        color: deeppink;
    }
    
    .main-image {
        background: url(images/Impreza-side-profile.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
    }
    
    .stat-box {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        background: aliceblue;
        max-width: 1000px;
    }
    
    .stat-box .col {
        border: 1px solid #cecece;
        padding: 20px;
        box-sizing: border-box;
        flex-grow: 2;
        min-width: 500px;
    }
    
    .stat-box .col.wide {
        box-sizing: border-box;
        text-align: center;
    }
    
    .stat-box .col.wide img {
        width: 100%;
    }
    
    .stat-box .head {
        border: 0px solid green;
        margin-bottom: 5px;
        clear: both;
    }
    
    .stat-box .head details {
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: top;
    }
    
    .stat-box .tail {
        float: right;
        text-align: right;
        border: 0px solid orange;
    }
    
    .stat-box .f-tires:after {
        content: '(f)';
    }
    
    .stat-box .r-tires:after {
        content: '(r)';
    }
    
    .hide {
        display: none;
    }