    html {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        padding: 10px;
        margin: 0;
        text-size-adjust: 100%;
        text-align: left;

    }

    .car-title {
        text-align: left;
    }

    h1 {
        font-size: 4.0vw;
        margin: 0;
    }


    h3 {
        font-size: 2vw;
        color: deeppink;
        font-weight: bold;
        font-style: oblique;
    }

    .main-image {
        background: url(images/Impreza-side-profile.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        text-align: center;
        background-position-y: bottom;
        background-position-x: center;
    }

    .stat-box {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        background: aliceblue;
        max-width: 100%;
    }

    .stat-box .col {
        border: 1px solid #cecece;
        padding: 20px;
        box-sizing: border-box;
        flex-grow: 2;
        max-width: 33%;
    }

    .stat-box .col.wide {
        box-sizing: border-box;
        text-align: center;
    }

    .stat-box .col.wide.full {
        padding: 0;

    }

    .stat-box .col.wide.full img {
        height: 100%;
    }

    .stat-box .col.wide img {
        width: 100%;
    }

    .stat-box .head {
        border: 0px solid green;
        margin-bottom: 5px;
        clear: both;
        font-size: 1em;
    }

    .stat-box .head details {
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: top;
    }

    .stat-box .tail {
        float: right;
        text-align: right;
        border: 0px solid orange;
    }

    .stat-box .f-tires:after {
        content: '(f)';
    }

    .stat-box .r-tires:after {
        content: '(r)';
    }

    .hide {
        display: none;
    }