html {
    background: black;
    color: #888;
    font-family: sans-serif;
    position: relative;
}

h1 {
    display: inline-block;
    font-size: 3em;
    margin: 0;
}

h2 {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-indent: 10px;
    border: 0;
    font-size: 2em;
    font-family: Courier, monospace;
    font-style: italic;
}


.brandStyle {
    color: teal;
}

.italic {
    font-style: italic;
}

.tunerShop {
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    border: 1px solid darkviolet;
    background-color: #222;
    opacity: 1;
    width: 100%;

}

.v1 {
    display: inline-flex;
    position: relative;
    /* flex-flow: wrap; */
    opacity: 1;
    width: 100%;
    transform: scale(1);
    border: 1px solid darkviolet;
    overflow-y: scroll;

}

.vehicle.impreza {
    background: rgb(49, 36, 50);
    opacity: 0.95;
    border-radius: 4px;
    border: 1px solid purple;
}

.vehicle[data-id="1960-Volkswagen-Beetle"] .image-wrap {
    transform: scale(0.65);
    margin-top: 10px;

}

.vehicle {
    border: 1px solid #222;
    min-width: 250px;
    padding: 5px;
    margin-right: 20px;
    position: relative;

}

.vehicle-data {
    font-size: 0.6em;
}

.vehicle-data .gains {
    display: none;
}


.vehicle:after {
    background: transparent;
    width: 100%;
    height: 100%;
    content: '1';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
}

.vehicle.tier-3 .exp {
    color: rgb(220, 117, 14);
}

.vehicle.tier-2 .exp {
    color: green;
}

.vehicle.tier-1 .exp {
    color: yellow;
}



/* .vehicle.tier-1 {
    bottom: 0px;
}

.vehicle.tier-2 {
    bottom: 130px;
}

.vehicle.tier-3 {
    bottom: 230px;
}

.vehicle.tier-4 {
    bottom: 330px;
}

.vehicle.tier-5 {
    bottom: 430px;
} */



.vehicle:hover,
.vehicle:focus {
    /* background: #cc00cc; */
    animation: fadeIn ease 1s;
    color: #ccc;
    z-index: 100;
}

.vehicle:hover::after {
    /* animation: spinner ease 0.5s; */
}

.vehicle:active {
    background: greenyellow;
    transform: rotate(.1deg);
}


.vehicle:hover img {
    transform: translateY(2px);
    transition: 1s ease-in-out;
}


.vehicle .mmy {
    color: lightgrey;
    font-style: italic;
    font-size: 0.7em;


}

.vehicle .mmy-sub {
    font-size: .8em;
    color: rgb(186 87 194);
    letter-spacing: 0.5;
    font-style: normal;
}

.vehicle .exp {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2em;
    font-style: italic;
    text-align: left;
    margin-bottom: 8px;
    padding: 1px 5px 1px 3px;
    opacity: 0.6;
    z-index: 10;
    color: rgb(6, 207, 76);

}

.vehicle .image-wrap {
    margin-top: 16px;
    height: 130px;
    text-indent: 10px;
    position: relative;
    width: 88%;

}

.vehicle .image-wrap img {
    width: 100%;
    opacity: 0.9;
    position: absolute;

}


.vehicle h3 {
    line-clamp: 2;
}


.vehicle .vehicle-name {
    letter-spacing: .2em;
}





.mods {
    border: 1px solid black;
    background: #222;
    transform: scale(1);
    width: 100%;
    height: 60%;
    top: 0;
    overflow: scroll;
    border-radius: 4px;
}


.spec {
    padding: 10px;
    position: sticky;
    display: flex;
    font-size: 1.8em;
    box-sizing: border-box;
    flex-direction: row;
    border: 2px solid #22a;

}

.spec .name {
    display: block;
}

.elite {
    font-weight: bold;
    color: purple;
    font-size: 1.15em;
}

.eliteRobin {
    font-weight: bold;
    color: teal;
    font-size: 2.4em;
    font-kerning: none;

}

.spec div {
    box-sizing: border-box;
    padding: 10px;

}

.spec .cost {
    color: yellow;
    font-size: 1.2em;
    font-weight: bold;
}

.spec .cost:before {
    content: '$';
    color: yellow;
}

.mod .cost:before {
    content: '$';
}

.mods ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mod {
    box-sizing: border-box;
    font-size: 2em;
    list-style-type: none;
    width: 50%;
    height: 180px;
    border: 2px solid #000;
    border-radius: 2px;
    position: relative;
    padding: 0 0 0 10px;
    opacity: 1;
    margin: 10px 10px 0 0;
}


.mod input {
    display: none;
}

.mod input:checked {
    display: block;
}

.mod.selected,
.mod:hover {
    background: #333;
}

.mod .description {
    font-size: 0.8em;
    color: rgb(142, 111, 144);
}

.mod .gains {
    font-size: 0.8em;
    color: rgb(32, 196, 95);    
    position: absolute;
    bottom: 13px;
    left: 5px;
}

.mod .type {
    font-weight: bold;
    color: yellowgreen;
}

.mod .cost {
    color: yellow;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.mod input {
    float: right;
}






@keyframes fadeIn {
    0% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spinner {
    0% {
        opacity: 0;
        transform: rotate3d(1, 1, 1, 270deg)
    }

    100% {
        opacity: 1;
        transform: rotate3d(1, 1, 1, 45deg)
    }
}