html {
  font-family: Arial, Helvetica, sans-serif;
}

.cornerWeights {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "a a a" auto
    "b b b" auto
    "c c c" auto
    "d d d" auto;
    

  
}

.cornerWeights .ofNine {
  background: yellow;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  text-align: center;

  margin: 10px;

}

.cornerWeights div label {
  font-size: 200%;
}

.cornerWeights .cw, 
.cornerWeights .wr {
  display: block;
  border: 0; 
  text-align: center;
  font-size: 150%;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 0px auto 0;
  outline: none;
}

.cornerWeights .cw {
  background: thistle;
}

.cornerWeights .wr {
  height: 50px;
  background: greenyellow;
  margin: 10px auto 0;
  font-weight: bold;
  font-size: 200%;  
}

#totalWeight {
  background-color: thistle;
  font-weight: bold;
}


.button {
  width: 100%;  
  font-size: 200%;
  background: greenyellow;
  border-radius: 10px;
  outline: none;
  margin: 0px;
}

input#name {
  border: 1px solid transparent;
  margin-left: 10px;
  font-size: 150%;
  font-weight: bold;
  width: 90%;
}
input#name:hover {
  border:1px solid green ;
}