// Include Reset CSS
@import "reset";

html { background: #fff; padding:0; margin:0; color: #000; font-family:sans-serif;}	

body { width: 100%; background: auto; display: flex; flex-direction: column; overflow-x: hidden;}
@media screen and (min-width: 900px) {
	body{ background: auto;}
}



h1.header{ 
	font-size: 140%; 
	font-family:"Titillium Web"; 
	padding: 10px; 
	font-weight:bold; 
	letter-spacing: 0.2em; 
	text-shadow: 2px 5px 5px #ccc;
	border-bottom: 1px solid #c0c0c0;
	box-shadow: 0px 1px 25px 0px #ccc;
}

div.stock1Wrapper { 
	max-width: 800px;
	padding: 0px;
	margin: 0 0 10px 0; 
	display:inline-block; 
	text-align: right; 
	position:relative;
	box-shadow: 1px 3px 20px 1px #cccccc;
	width: auto;

	img.stock1 { 
		display:block;
		width:100%;
	}
}
div.stock1Wrapper::after{ 
	content: "Jason Leung";  
	color: #000;  
	display: inline-block; 
	position: absolute;
	padding: 3px; 
	font-size:50%; 
	letter-spacing: 0.5em; 
	right: 5px;
	margin-top: 0px;

}

article {
	position: relative;
	padding: 10px;
	margin: 0 0 20px;

	h2.title { display:block; font-size: 110%; font-family:"Anonymous Pro"; margin: 0 0 5px 0; color: #008820; text-shadow: 1px 1px 5px #aaa;}
	date { position:relative; display:block; font-size: 80%; color: #999; font-style: italic; margin-bottom: 5px;}
	p {font-size:100%; font-weight: normal;}
	h4.subheader { font-family: sans-serif; font-style: italic; font-size: 80%;color: #000; margin: 0 0 10px 10px;}
	h4.subheader:before { content: " - ";}
}

