html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Courier New', Courier, monospace;

}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #449;
}

.oem-logo {
    max-height: 2em;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    text-align: center;
    padding: 10px;
    background: #444;
    color: #f0f0f0;
    white-space: nowrap;
    margin: 0;

}

h1.make,
h1.model {
    text-decoration: dashed;
}

.overlay {
    position: absolute;
    bottom:0;
    left:0;
}

dl {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 20px;
}

.engine,
.drivetrain,
.transmission {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}

.rest {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.transmission .ratios {
    color: #555;
    width: 100%;
}

.transmission .ratios thead {
    background: #999;
    color: #000;
}

.transmission .ratios td {
    width: 200px;
    border: 1px solid #999;
}

.drivetrain figure {
    width: 100%;
}

.drivetrain figure img {
    width: 100%;
}

figure {
    text-align: center;
    margin: 1em 0 1em;
}

dl {
    line-height: 1.5em;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

dd {
    margin: 0;
}


a:hover {
    text-decoration: underline;
}


figcaption {
    font-size: .7em;
    margin-top: 10px;
}

.main {
    position: relative;
}

.main .a {
    height: 640px;
    background-repeat: no-repeat;
    background-size: contain;
}

.drivetrain-hover-animation {
    transition: transform 1s; 
}

.drivetrain-hover-animation:hover {        
       
    transform: translateY(140px) rotate(-90deg);
}