html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    font-size: .8em;
    
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, .6) 13.5%);
}

body {
    margin: 0;
    position: relative;

}

a {
    text-decoration: none;
    color: #449;
}

.oem-logo {
    max-height: 2em;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    text-align: center;
    padding: 8px;
    font-size: 2em;

    color: #f0f0f0;
    white-space: nowrap;
    margin: 1vh 0 0 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: gold;

}

h1.make,
h1.model {
    text-decoration: dashed;
}

.overlay {
    position: absolute;
    top: 1vh;
    left: 1vw;
    transform: scale(0.6);
    animation: turn-turn 10s infinite;
    border-radius: 10px;
}

dl {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 20px;
}

.engine,
.drivetrain,
.transmission,
.wheels-brakes,
.suspension,
.chassis {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
}


.transmission .ratios {
    color: #555;
    width: 100%;
}

.transmission .ratios thead {
    background: #999;
    color: #000;
}

.transmission .ratios td {
    width: 200px;
    border: 1px solid #999;
}

.drivetrain figure {
    width: 100%;
}

.drivetrain figure img {
    width: 100%;
}

figure {
    text-align: center;
    margin: 1em 0 1em;
}

dl {
    line-height: 1.5em;
}

dt {
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

dd {
    margin: 0;
}


a:hover {
    text-decoration: underline;
}


figcaption {
    font-size: .7em;
    margin-top: 10px;
}

.main {
    position: relative;
}

.main .a {

    height: 640px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.drivetrain-top {
    margin-top: 4vh;


}

.drivetrain-hover-animation:hover {}

.sti15 {
    transform: scale(0.8);
}

.gp7chassis,
.suspension-diagram {
    width: 100%;
}

.suspension-diagram {
    /* filter: contrast(100%) brightness(3%); */
}

@keyframes turn-turn {
    0% {

        transform: rotateY(0deg);
    }

    30% {
        transform: rotateY(10deg) rotateX(-11deg);
    }

    50% {
        transform: rotateY(-40deg) rotateX(-21deg);
    }

    100% {
        transform: rotateY(-360deg);
    }
}