html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #555;
  position: relative;
  width: 100%;
}


img {
  position: relative;
  width: 100%;
}

h1 {  
  text-align: center;  
}

blockquote,
aside {
  font-style: italic;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

aside {
  margin: 30px 90px;
  text-align: justify;
  text-indent: -6px;
}

aside::first-letter {
  font-size: 2.3em;
  line-height: 1px;
  font-family: cursive;
  padding-right: 2px;
}

blockquote::before,
blockquote::after {
  content: '"';
}

.scaleWrap {
  overflow: hidden;
  position: relative;  
}

.scaleWrap .zoom {
  animation: zoomer-out 0.5s ease-in
}

.scaleWrap:hover .zoom {
  transform: scale(2.3, 2.3) translateX(-12px) translateY(-180px);
  filter: contrast(1.1) brightness(1.5);
  animation: zoomer .4s ease-in;
}

@keyframes zoomer {
  0% {
    transform: scale(1, 1);
    filter: contrast(1) brightness(1) hue-rotate(0deg);
  }

  100% {
    transform: scale(2.3, 2.3) translateX(-8px) translateY(-180px);
    filter: contrast(1.1) brightness(1.5);
  }
}

@keyframes zoomer-out {
  0% {
    transform: scale(2, 2) translateX(-8px) translateY(-118px);
  }

  100% {

    transform: scale(1, 1);
  }
}


.zoom {
  position: relative;
}

.scaleWrap:before,
.scaleWrap:after {
  animation: opaq-out;
}

.scaleWrap:hover:before {
  z-index: 2;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: black;
  animation: opaq 0.5s ease-in;
}

.scaleWrap:hover:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: black;
  animation: opaq 0.5s ease-in;
}

@keyframes opaq {
  0% {
    opacity: 0;
  }

  100% {
    height: 35%;
    opacity: 0.9;

  }
}

@keyframes opaq-out {
  0% {
    height: 35%;
  }

  100% {
    height: 0;
  }

}


.overview,
.aftermarket {
  margin: 0 20px;

}

.stock {
  display: none;
}

.cherry {
  color: #f3329e;
}